@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.nav__burger_button{
    display: none;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.soc-icon{
    background: #3AC6EA ;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
    padding: 0 25px;
}
.soc-icon__link{
    width: 60px;
    height: 10px;
    background:#071724 ;
    display: flex;
    border-radius: 20px;
}
.header{
    background: #3AC6EA;
}
.header-top{

    padding: 10px 0 20px;
    background: #CED8E1;
}
.header__top_grid{
    display: flex;
    background:#CED8E1 ;
    align-items: flex-end;
    justify-content: space-between;
}
.header__logo{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background: #071724;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.nav__item{
    display: inline-block;
    margin-right: 15px;
}
.nav__item a{
    text-decoration: none;color:#071724 ;
    font-size: 20px;
    text-transform: uppercase;
    transition: color 1s;
    font-weight: 900;
}
.nav__item a:hover{
    color: white;
}
.header__main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    padding: 100px;

}
.header__text{
    line-height: 50px;
    text-align: center;
}
.header__main button{
    margin-top: 25px;
    background: #071724;
    width: 300px;
    border-radius: 30px;
    color: wheat;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
}
.products__title{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px    ;
}

.products{
    padding: 50px;
    display: flex;
    justify-content: center;
    background:#CED8E1 ;
}

.products_grid{
    border-radius: 20px;
    border: solid 1px #3AC6EA;
    padding: 20px;
    height: 380px;




}
.products__list{
    display: flex;
    column-gap: 50px;
    margin-bottom: 30px;


}
.product__item{
    flex-grow: 1;
    display: flex;

}
.products__item_img{
    border-radius: 20px;
    height: 200px;
    background: #071724;

}
.products__item_img p{
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    font-size: larger;color: #102B3E;
}
.about{
    background: #071724;
    padding: 89px 0;
}
.about__grid{
    display: flex;
    justify-content: center;
    column-gap: 300px;
}
.about_card{
    width: 30%;
    border: 2px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: wheat;
    transition: all 0.5s;
    padding: 10px;
    cursor: pointer;

}
.about_card:hover{
    border-color: aqua;

}
.about__photo{
    background:#CED8E1 ;
    width:  250px;
    height: 250px;
    border-radius: 50%;
}
.about__name{
    font-size: 25px;
    font-weight: 900;
}

.menu{
    background:#CED8E1 ;


}
.menu__header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;

}
.menu__header:hover{
    background: crimson;
}
h3{
    font-size: 40px;color: #102B3E;
    font-weight: 700;
}
.menu__content{
    display: flex;
    column-gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;

}
.content_box {
    border: solid 2px #3AC6EA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 300px;
    max-width: 800px;
    height: 800px;
}
.content_img{
    width: 90%;
    height: 400px;
    background: #102B3E;
    border-radius: 20px;
    margin-top: 40px;
}
.content_nav{
    border-top: solid 2px #3AC6EA;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content_text{
    font-size: 30px;
    margin: 20px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_button{
    width: 80px;
    height: 30px;
    background: #102B3E;
    border-radius: 20px;
    margin-left: 20px;
}
.icon_box{
    display: flex;
    column-gap: 5px;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
}

.icon_item, li {
    background: #102B3E;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.down__menu_content {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 600px;
    margin-top: 300px;
    padding-bottom: 300px;
}
.down__menu_content>div{
    height: 100%;
    min-height: 600px;
    width: 30%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;

}
.down__menu_content>div:nth-child(1){
    background: #102B3E;

}
.down__menu_content>div:nth-child(2){
    background: #3AC6EA;
}

.left__switch,.right__switch{
    width: 20%;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left__switch{
    background:#3AC6EA ;
}
.right__switch{
    background: #102B3E;
    color: wheat;
}
.left__top_text,.right__top_text{
    font-size: 50px;
    font-weight: 700;
}
.right__top_text{
    color:#102B3E;
}
.left__top_text{
    color:#3AC6EA ;

}
.left__main_text,.right__main_text{
    height: 60%;
    margin-top: 30px;
}
.left__main_text{
    color: #3AC6EA;
}
section{
    width: 100%;
    height: 300px;
    background: #102B3E;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}
.footer__top{
    display: flex;
    justify-content: center;
    column-gap: 20px;

}
.footer__top_box{
    background: lightgrey;
    width: 100px;
    height: 100px;
    border-radius: 8px;


}

.footer__down{
    display: flex;
    justify-content: center;

}
.line{
    width: 50%;
    height: 10px;
    border-radius: 10px;
    background: #9FC5D1;
}


