*{
    -ms-overflow-x: hidden;
}
.row>*{
    padding-right: calc(var(--bs-gutter-x) * 0);
}
body{
    background: #FBFBFC;


}
html { overflow-x:  hidden; }
.header{
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}
.navbar-light .navbar-nav .nav-link{
    border: 2px solid transparent;

}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #2E75FF;
    border: 2px solid #EAEDF5;
    box-sizing: border-box;
    border-radius: 8px;
}
.first__screen-left h1 {
    font-size: 48px;
    font-style: normal;
    line-height: 80px;
    letter-spacing: -0.4px;
    color: #1652AC;
    text-align: center;
}
.first__screen-text{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #020303;
    margin-top: 150px;
    position: relative;
}
.first__screen-left{
    margin-top: 103px;
    text-align: center;
}
.first__screen-left .first__screen-text::before,
.first__screen-left .first__screen-text::after{
    content: "";
    display: block;
    position: absolute;
    width: 227px;
    height: 7px;
    background-color: #EDEFF3;;
    margin-left: 50px;
}
.first__screen-left .first__screen-text::before{
   top:-50px;

}
.first__screen-left .first__screen-text::after{
    bottom: -50px;
}
.first__screen-right img{
    width: 100%;
}
.second__screen-right img{
    width: 100%;
}
.second__screen-text{
    font-size: 17px;
    line-height: 32px;
    color: #45494F;
}
.second__screen-left h2{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2.42px;
    color: #1652AC;
}
@media screen and (max-width: 400px){
    .first__screen-left h1{
        font-size: 30px;
    }
}
.rigth__text{
background: linear-gradient(180deg, #163DA2 0%, #003584 100%);
}
.rigth__text h2{
font-size: 20px;
line-height: 40px;
letter-spacing: 2.42px;
color: #FBFDFF;
    margin-left: 20px;
}
.rigth__text p{
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    color: #FBFDFF;
}

.hero_box{
    width: 600px;
}
.left__img img{
    width: 100%;
}
.text-one h4{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2.42px;
    text-transform: uppercase;
    color: #1652AC;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
}
.text-two p{
    font-size: 17px;
    line-height: 32px;
    color: #45494F;
    margin-left: 20px;
    margin-top: 20px;
}
.text-three{
    text-align: center;
}

.main_down_right{
  height: 650px;
    min-width: 650px;
}
.down_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-width: 650px;


}
.down_gradient{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100%);
    width:700px;
    height: 150px;
    border-radius: 10px;
    min-width: 550px;

}
.menu__inner{
    max-width: 100%;
}

.inner__top_text h5{
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 4.42px;
    color: #020303;
    padding-top: 62px;
}
.inner__item_nine{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 42px;
    padding-bottom: 20px;
;

}
.inner__item p{
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #45494F;
    max-width: 180px;
}
.inner__item{
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    display: flex;
    max-width: 394px;
    max-height: 136px;
    min-width: 394px;
    min-height: 136px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
}

.inner__table{
    display: flex;
    justify-content: center;
    /*background: #FBFBFC;*/
    margin-top: 57px;
    max-width: 100%;
    overflow-x: hidden;

}
.inner__table_box{
    width: 1200px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}
.inner_header h6{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 4.42px;
    color: #020303;
    text-align: center;
    padding-top: 43px;
    width: 100%;
}
.inner__general{
    display: flex;
    justify-content: center;
    padding-top: 71px;
    max-height: 892px;
    max-width: 1200px;

}
.general_left p{
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.4px;
    color: #45494F;
}
.general_right p{
    font-size: 17px;
    line-height: 35px;
    letter-spacing: -0.4px;
    color: #45494F;
}
li{
    list-style-type: none;

}
.general_left {
    max-width: 500px;
    line-height: 40px;
}
.general_right{
    max-width: 500px;
    line-height: 40px;
}
@media screen and (max-width: 988px){
.inner__general {
    flex-wrap: wrap;
}
    .inner__table_box{
        padding: 0 5px;
    }
}
.inner__general span{
    color: #020303;
    font-weight: 600;
    font-size: 17px;
    line-height: 32px
}
.inner_slaider{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.slaider img{
   max-width: 100%;

}
.item_left{
    background: #FFFFFF;
    box-shadow: 0 0 21px rgba(64, 68, 75, 0.14);
    border-radius: 8px;
    width: 126px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav_item{
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
}
.item_right{
    background: #FFFFFF;
    box-shadow: 0 0 21px rgba(64, 68, 75, 0.14);
    border-radius: 8px;
    width: 126px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.item_left,.item_right img:hover{
    cursor: pointer;
}
.round_item{
    margin-top: 10px;
    column-gap: 20px;
    display: flex;
    justify-content: flex-end;

}
.round_full,.round{
    width: 12px;
    height: 12px;
    border-radius: 50%;

}
.round_full{
    background: linear-gradient(180deg, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
    border: 1px solid #BED8FF;
}
.round{
    background: #80ABFF;
    opacity: 0.35;
    border: 1px solid #0045AC;
    box-sizing: border-box;
}
@media screen and (max-width: 840px) {
    .round_item {
        justify-content: center;
    }
    .round_full,.round{
        width: 9px;
        height: 9px;
    }
}
section{
    margin-top: 78px;
}
.header_footer h4{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2.42px;
    color: #020303;
}
.btn ,.btn-primary ,.btn-lg{
    width: 394px;
}
.container{
    max-width: 1214px;
    overflow-x: hidden;
}
.footer{
    background: #FFFFFF;;
    margin-top: 82px;
}
.footer_box{
    display: flex;
    column-gap: 70px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 280px;
    flex-wrap: wrap;

}
@media screen  and (max-width: 700px) {
    .footer_box{
     flex-direction: column-reverse;
        row-gap: 10px;
    }
}
.footer__header h6{
    font-size: 34px;
    line-height: 43px;
    letter-spacing: -0.4px;
    color: #1652AC;
    text-align: center;
    width: 100%;
}
.footer__main p{
    font-size: 17px;
    letter-spacing: -0.4px;
    color: #464C53;
    line-height: 45px;
}
.footer__main{
    max-width:420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__main p span {
    color: #2E75FF;
    font-weight: bold;
}
.button{
    width: 306px;
    height: 69px;
    background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(48, 67, 133, 0.5);
    border-radius: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.button-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    display: flex;
    margin-left: 100px;

}
.button-logo h3{
    color: white;
}
.footer_info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 70px;
    height: 300px;
}
.footer_info_item h6 {
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #A3ADBA;

}
.footer_info_item  p{
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #9EABBB;
}
.footer_info_item{
   max-width: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.footer_info_item span{
    color: #2E75FF;
}
@media screen and (max-width:700px ){
     .footer_info{
         flex-wrap: wrap;
     }
}